.multiple-choice-container {
  position: relative;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

.timers {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.option {
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.option.selected {
  background-color: yellow;
}

.option.correct {
  border-color: green;
  background-color: lime;
}

.button-group {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.reset-button, .stop-button {
  background-color: #28a745; /* Green color */
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-right: 10px;
}

.reset-button:hover, .stop-button:hover {
  background-color: #218838; /* Darker green for hover effect */
}

.navigation-buttons {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.navigation-buttons button {
  background-color: #007bff; /* Blue color */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.navigation-buttons button:hover {
  background-color: #0056b3; /* Darker blue for hover effect */
}

.current-question-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
}
